<main>
  <h2>
    {{ appComponent.about }}
  </h2>
  <h3>
    {{ name }} | RA {{ ra }}
  </h3>
  <p>
    <a href="{{ githubPage }}" target="_blank">
      <span>GitHub Page</span>
      <mat-icon aria-hidden="false" aria-label="GitHub Page">
        launch
      </mat-icon>
    </a>
  </p>
  <p>
    <a href="{{ githubRepo }}" target="_blank">
      <span>Repositório GitHub</span>
      <mat-icon aria-hidden="false" aria-label="Repositório GitHub">
        launch
      </mat-icon>
    </a>
  </p>
</main>
